<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goldenpie.devs.kievrest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.read_external_storage" />
    <uses-permission android:name="android.permission.write_external_storage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".TownyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.InitActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" />

        <service android:name=".utils.service.DataShareService" />

        <receiver android:name=".utils.service.BootComplete">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d1532bea837e3abf29e92dca516b1c1ab497ea4e" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.activity.FirstRunActivity"
            android:configChanges="orientation"
            android:label="LocationTest" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:configChanges="orientation"
            android:label="@string/settings"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/SettingsTheme"></activity>
    </application>

</manifest>
